* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15pt;
  background-color: #fff;
  height: 8vh;
  padding: 0.5em 2em;
  border-bottom: 3px solid #edf3f6;
}

.brand {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.brand span {
  font-weight: 900;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a {
  padding: 0.4em 0.6em;
}

.active {
  background-color: #000;
  color: #fff;
}

.mobileMenu {
  display: none;
  cursor: pointer;
}

.mobileMenu div {
  width: 32px;
  height: 2px;
  background: #000;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 750px) {
  body {
    overflow-x: hidden;
  }

  .links_list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100%;
    height: 92vh;
    background: #ffffff;
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .links_list.active {
    transform: translateX(0);
  }

  .mobileMenu {
    display: block;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobileMenu.active {
  background: #fff;
}

.mobileMenu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobileMenu.active .line2 {
  opacity: 0;
}

.mobileMenu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
